
{% extends "base.html" %}
{% load blog_tags %}
{% block title %} My blog {% endblock %}

{% block content %}

{% if tag %}
  <h2>Posts tagged with "{{ tag.name }}"</h2>
{% endif %}




  {% show_latest_posts_for_main %}







	
  <h3>Latest posts</h3>

  <!-- this used the tag in blog_tag 
    tagigng show latest post -->
    
  {% show_latest_posts 3 %}
      

<h3>Popular posts</h3>  
<div class="row mb-2">

        {% get_most_commented_posts as most_commented_posts %}

        {% for post in most_commented_posts %}

        <div class="col-md-6"> <!-- start of lsit -->
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">{{post.category}}</strong>
              <h5 class="mb-0">
                <a class="text-dark" href="{{ post.get_absolute_url}}">{{post.title}}</a>

              </h5>
             <!-- <div class="mb-1 text-muted">{{ post.publish }}  by {{ post.author }}</div>     -->          
              <p class="card-text mb-auto">{{ post.body|markdown|truncatewords_html:12 }}</p>
              <a href="{{ post.get_absolute_url}}">Continue reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block"  alt="Thumbnail [200x248]" style="width: 200px; height: 248px;" src="{{post.image.url}}" data-holder-rendered="true">
          </div>
        </div> <!-- end of list -->

 {% endfor %}
  
</div>  







{% endblock %}