{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Share a post{% endblock %}

{% block content %}

	{% if sent %}
	
		<h1>Email successfully sent</h1>
		<p> {{post.title }} was successfully sent by email </p>
	{% else %}
		<h1>Share {{post.title }} by email</h1>
		<form action="." method="post">

			{% csrf_token %}
			 {{ form|crispy }}
			   <button action="." type="submit" class="btn btn-success" enctype="multipart/form-data" value="Send e-mail" style="    margin-bottom: 15px;">Send</button>
	
		</form>

	{% endif %}



{% endblock %}